<div class="wrapper">
  <mat-card>
    <h2 class="card-title">Register</h2>
    <form [formGroup]="form" (ngSubmit)="register()">

      <div class="form-field-with-tooltip">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" />
        </mat-form-field>

        <span class="tooltip-container">
          <mat-icon class="info-icon">info</mat-icon>
          <span class="tooltip-text">
            Your email is securely hashed in the backend.<br />
            You will not be emailed unless you resupply your email for password reset and its hash matches.
          </span>
        </span>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>

      <div *ngIf="errorMessage" class="error">
        {{ errorMessage }}
      </div>

      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || isLoading">
        <mat-progress-spinner
          *ngIf="isLoading"
          diameter="20"
          mode="indeterminate"
          color="accent"
          class="inline-spinner"
        ></mat-progress-spinner>
        <span *ngIf="!isLoading">Register</span>
      </button>
    </form>
  </mat-card>
</div>