<div class="wrapper">
  <mat-card>
    <h2 class="card-title">Choose New Password</h2>

    <form [formGroup]="form" (ngSubmit)="resetPassword()">
      <mat-form-field appearance="fill">
        <mat-label>New Password</mat-label>
        <input matInput formControlName="newPassword" type="password" />
      </mat-form-field>

      <div *ngIf="error" class="error">{{ error }}</div>
      <div *ngIf="success" class="success">Your password has been reset.</div>

      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || isLoading || success">
        <mat-progress-spinner
          *ngIf="isLoading"
          diameter="20"
          mode="indeterminate"
          color="accent"
          class="inline-spinner"
        ></mat-progress-spinner>
        <span *ngIf="!isLoading">Reset Password</span>
      </button>
    </form>
  </mat-card>
</div>